<%- include("cabeceras/home") %>
<body>
    <header>
      <h1>
        Presupuestos Disponibles
      </h1>
    </header>
    <div class="tablePresupuestos">
      <div class="presupuesto">
        <div class="presupuesto__description">
          <span>Id Presupuesto</span>
        </div>
        <div class="presupuesto__description">
          <span>Fecha de Creación</span>
        </div>
        <div class="presupuesto__description">
          <span>Proyecto</span>
        </div>
        <div class="presupuesto__description">
          <span>Versiones</span>
          
        </div>
        <div class="accionables__presupuesto">
          <button>Nuevo Presupuesto</button>
          <button>Editar</button>
          <button>Eliminar</button>
          <button>Enviar</button>
        </div>
      </div>
    </div>
    <script src="/js/signUp.js"></script>
  </body>
</html>