<%- include("cabeceras/index") %>
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">

      <!-- Login Form -->
      <form style="height: 10rem;">
        <input
          type="text"
          id="name"
          class="fadeIn second"
          name="name"
          placeholder="name"
        />
        <input
          type="text"
          id="password"
          class="fadeIn third"
          name="password"
          placeholder="password"
        /> 
        <button type="submit" class="fadeIn fourth" value="Log In">
        <a href="#" onclick="login()">Login</a> 
       </button>
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="http://localhost:4000/signUp">Don't have an account?</a>
      </div>
    </div>
  </div>
  <script src="/js/login.js"></script>
</body>
</html>