.wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  margin-top: 20rem;
}

.wrapper > div > form{
  display: flex;
  flex-direction: column;
  height: 20rem;
}

.wrapper > div > form > input {
  margin-bottom: 1rem;
}